
<h3 *ngIf="productoToEdit;else h3Agregar" class="text-center font-bold">
    Editar Producto
</h3>
<ng-template #h3Agregar>
    <h3 class="text-center font-bold">
        Agregar Producto
    </h3>
</ng-template>


<form autocomplete="off" [formGroup]="miFormulario" >
    <div class="col-12 w-full">
        <div class="flex  flex-wrap">
            <div class="col-6">
                <div class="p-inputtext-sm md:p-inputtext-lg">
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-nombre"  
                            formControlName="nombre"
                            type="text" pInputText > 
                            <label for="float-nombre">Nombre</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-talle"  
                            formControlName="precio"
                            type="number" pInputText > 
                            <label for="float-precio">Precio</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-talle"  
                            formControlName="talle"
                            type="number" pInputText > 
                            <label for="float-talle">Talle</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-color"
                            formControlName="color"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-color">Color</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="sexo"
                             value="HOMBRE" 
                             formControlName="sexo" 
                             inputId="Hombre"></p-radioButton>
                            <label for="Hombre">Hombre</label>
                            <p-radioButton name="sexo"
                             value="MUJER" 
                             formControlName="sexo" 
                             class="ml-2"
                             inputId="Mujer"></p-radioButton>
                            <label for="Mujer">Mujer</label>
                        </div>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-stock"
                            formControlName="stock"
                            class="p-inputtext-sm" type="number" pInputText > 
                            <label for="float-stock">Stock</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <p-dropdown [options]="categorias"
                         formControlName="categoria"
                          placeholder="SelectCategory"
                          (click)="redefinirCategoria()"
                           [showClear]="true"
                           ></p-dropdown>

                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-descripcion"
                            formControlName="descripcion"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-descripcion">Descripcion</label>
                        </span>
                    </div>   
                </div>
            </div>
            <div class="col-6 flex justify-content-center" *ngIf="!productoToEdit ;else imgProducto">
                <div>
                    <input type="file" (change)="saveFile($event)">
                </div>
            </div>
            <ng-template  #imgProducto>
                <div class="col-6 flex justify-content-center">
                    <div>
                        <img class="w-full" [src]="productoToEdit.img" [alt]="productoToEdit.nombre">
                    </div>
                </div>
            </ng-template>
        </div>  
    </div>
    <div class="m-4 flex justify-content-center align-items-center">
        <button pButton pRipple type="button" *ngIf="!productoToEdit"
        label="Agregar" 
        (click)="agregar()"
        class="p-button-rounded p-button-secondary">
        </button>
        <button pButton pRipple type="button" *ngIf="productoToEdit"
        label="Editar" 
        (click)="editProduct()"
        class="p-button-rounded p-button-secondary">
        </button>
    </div>
</form>


