<div class="col-12 w-full">
    <div class="flex flex-wrap">
        <div class="col-6">
            <form autocomplete="off">
                <div class="p-inputtext-sm md:p-inputtext-lg">
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-nombre"  
                            formControlName="nombre"
                            type="text" pInputText > 
                            <label for="float-nombre">Nombre</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-talle"  
                            formControlName="precio"
                            type="number" pInputText > 
                            <label for="float-precio">Precio</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-talle"  
                            formControlName="talle"
                            type="number" pInputText > 
                            <label for="float-talle">Talle</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-color"
                            formControlName="color"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-color">Color</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-sexo"
                            formControlName="sexo"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-sexo">Sexo</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-stock"
                            formControlName="stock"
                            class="p-inputtext-sm" type="number" pInputText > 
                            <label for="float-stock">Stock</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-categoria"
                            formControlName="categoria"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-categoria">Categoria</label>
                        </span>
                    </div>
                    <div class="m-4">
                        <span class="p-float-label">
                            <input id="float-descripcion"
                            formControlName="descripcion"
                            class="p-inputtext-sm" type="text" pInputText > 
                            <label for="float-descripcion">Descripcion</label>
                        </span>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-6 flex justify-content-center">
            add image
        </div>
    </div>
    <div class="m-4 flex justify-content-center">
        <button pButton pRipple type="submit"
        label="Secondary" 
        class="p-button-rounded p-button-secondary">
        </button>
    </div>
</div>

